body {
    font-family: Arial, Tahoma;
    font-size: 12px;

}
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#tren {
    height: 100px;
    background-color: #F5F5F5;
    border: 1px solid #CDCDCD;
    margin-bottom: 5px;
    background-image: url('../Images/Anh/Untitled1 (3).png');
}
#menu{
     height: 50px;
     line-height: 50px;
     padding-left: 10px;
     padding-right: 10px;
     border: 1px solid #CDCDCD;
     margin-bottom:5px;
     background-color:#8ea823;
     clear: both;
}
ul.menu_list {
    list-style-type:none; float:left; display:block; width:982px; 
    margin:0px; padding:0px;background:url(Images/menu_bg.gif) repeat-x;

}
ul.menu_list li {
    display:inline;
font-size:20px;
font-weight:bold;
line-height:50px;
}
ul.menu_list li.divider {
display:inline;
width:4px;
height:36px;
float:left;
background:url(Images/menu_divider.gif) no-repeat center;
}

a.nav:link, a.nav:visited {
display:block; float:left; padding:0px 8px 0px 8px; margin:0 14px 0 14px;height:36px;text-decoration:none;color:#fff;}

a.nav:hover{
display:block; float:left; padding:0px 8px 0px 8px; margin:0 14px 0 14px;height:36px;text-decoration:none;color:#199ECD;}

#trai{
     width: 150px;
     min-height: 400px;
     border: 1px solid #CDCDCD;
     float:left;
     background-color: #004C00;
     margin-bottom: 5px;
}
#giua{
     width: 600px;
     min-height: 400px;
     border: 1px solid #CDCDCD;
     float:left;
     margin-left: 5px;
     margin-right: 5px;
     margin-bottom: 5px;
}
#phai{
     width: 234px;
     min-height: 400px;
     border: 1px solid #CDCDCD;
     float:right;
     margin-bottom: 5px;
}

#cuoi{
     height: 50px;
     clear: both;
     border: 1px solid #CDCDCD;
     background-color: #F8F8FF;
}
ul.danhsach {
    list-style-type:none; float:left; display:block; width:140px; 
    margin:0px; padding:0px;background:url(Images/menu_bg.gif) repeat-x;
}
ul.danhsach li {
    display:inline;
font-size:11px;
font-weight:bold;
line-height:30px;
}
